@import "tailwindcss";
@import "tw-animate-css";



@theme inline {
--color-primary: var(--color-primary);
--color-secondary: var(--color-secondary);
--color-gray: var(--color-gray);
--color-blue: var(--color-blue);
--color-purple: var(--color-purple);
--color-dark-purple: var(--color-dark-purple);
--color-pink: var(--color-pink);
--color-white: var(--color-white);
--color-light-blue: var(--color-light-blue);
--color-gradient-primary: var(--color-gradient-primary);
--color-gradient-secondary: var(--color-gradient-secondary);
}

:root {
  --color-primary:#002029;
  --color-secondary:#FCA311;
  --color-gray:#E5E5E5;
  --color-blue:#0d00a4;
  --color-light-blue:#00b2ff;
  --color-purple:#22007c;
  --color-dark-purple:#140152;
  --color-pink:#f20089;
  --color-white:#ffffff;
  /* dashboard theme */
  --color-slate-900: #0b1220;
  --color-slate-950: #050914;
  --color-surface-800: #111a2b;
  --color-surface-900: #0c1422;

    --color-gradient-primary: linear-gradient(90deg, #fca311 0%, #00b2ff 100%);
  --color-gradient-secondary: linear-gradient(90deg, #002029 0%, #e5e5e5 100%);
  
}

@layer components {
  .input, input {
    @apply focus-visible:outline-none focus-visible:ring-0 focus-visible:ring-offset-0 shadow-none;
  }
  .text-gradient-primary {
  background: var(--color-gradient-primary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.text-gradient-secondary {
  background: var(--color-gradient-secondary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

}
